html, body {
    margin: 5px 0px 0px 0px;
}

.ui_form_label {
    text-align:right;
    vertical-align:middle;
}

input.ui_submit {
    margin-top: 5px;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    width: 450px;
    background: #2F7BF7;
    border: 1px solid #2F7BF7 !important;
    color: #ffffff;
    font-weight: bold;
}

input.ui_submit:hover {
    background: #1B6CF2;
    color: #eeeeee;
}

input.ui_textbox, input.ui_password {
    font-size: 14px;
    width: 100%;
}

table.shrinkwrapper {
    width: 450px;
}

.ui_table_body td {
    padding: 4px;
}

table.header {
    padding:0;
    border:none;
    background-color:inherit;
}
